@model IEnumerable<Web.OData.Models.Meta.MenuItem>
@{
    ViewBag.Title = "Menu";
}
<p>List of Menu:</p>

@*@Html.ActionLink("Create new item", "CreateItem")*@

<table class="table table-bordered">
    <thead>
        <tr>
            <th></th>
            <th>
                DisplayName
            </th>
            <th>
                Route
            </th>
            <th>
                IconName
            </th>
            <th>
                ParentMenuItemId
            </th>
            <th>
                OrderIndex
            </th>
            <th>
                MenuItems
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink("view", "ViewItem", new { id = item.Id })
                    @*|
                    @Html.ActionLink("edit", "EditItem", new { id = item.Id })
                    |
                    @Html.ActionLink("delete", "DeleteItem", new { id = item.Id }, new { onclick = "return confirm('Are you sure to delete this entry?');" })*@
                </td>
                <td>
                    @item.DisplayName
                </td>
                <td>
                    @item.Route
                </td>
                <td>
                    @item.IconName
                </td>
                <td>
                    @item.ParentMenuItemId
                </td>
                <td>
                    @item.OrderIndex
                </td>
                <td>
                    @item.MenuItems.Count
                </td>
            </tr>
        }
    </tbody>
</table>